/* container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #eeeeee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* aba de filtros */
.filters {
    width: 250px;
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.filters 
input[type="text"],
input[type="range"] {
        margin-bottom: 10px;
}

.filters h2 {
    margin-top: 0;
}

.filters label {
    display: block;
    margin-bottom: 10px;
}

/* produtos */
.products {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: inherit;
    display: flex;
    flex-direction: column;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin: 10px;
    font-size: 18px;
}

.product p {
    margin: 10px;
    font-size: 16px;
}

.product .price {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.product button {
    display: flex;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #3e8e41;
    transition: background-color 0.3s ease;
}