@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb-demi');

#cartItems{
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 5vh auto;
    padding: 5vw;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

}

#cartHeader{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    text-align: center;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    font-size: max(20px,2vh);
    color: #2b2b2b;
    @media (max-width:800px) {
        font-size: max(10px,2vh);
    }
}

#cartHeader p{
    width: max(10vw,100px);
    
    
}

#nomeProdutoHeader{
    text-align: start;
}

#imgProdutoHeader{
    @media (max-width:800px) {
        display:none;
    }
}

#wholeCart{
    display: flex;
    flex-direction: column;
    
    
}

#cartButtons{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    
}


#cartTotalPrice{
    display: flex;
    justify-content: space-around;
}

#cartTotalPrice p{
    width: max(10vw,100px);
    text-align: center;
    font-weight: bold;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    font-size: max(30px,3vh);
    
    @media (max-width:800px) {
        font-size: max(20px,3vh);
    }

}

#cartButtons button {
    background-color: rgb(210, 165, 250);
    color: #fff;
    padding: 10px 20px;
    margin-left: 3vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    width: 30%;
    box-shadow: 3px 5px 4px #888888;
    font-family: Verdana, sans-serif;
    @media (max-width:800px) {
        height: 50px;
        padding : 0;
    }

}

#cartButtons button:hover {
    background-color: rgb(177, 139, 211);
    
}