#bgSuccess{
    background-image: url(../../Assets/paymentSuccess.webp);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 45% 75%;
    height: 80vh;
    @media (max-width:800px) {
        background-size: min(400px,100vw) min(400px,100vw);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 0;

}

#bgSuccess button {
    background-color: #F74C02;
    color: #fff;
    margin-bottom: 3vh;
    margin-top: 3vh;
    height: 5vh;
    border: none;
    border-radius: 5px;
    font-size: 2.5vh;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 5px 4px #888888;
    font-family: Verdana, sans-serif;

}

#bgSuccess button:hover {
    background-color: #AB3300;
    
}