#userDisplay {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #000000;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}