#divContact {
    display: inline-flex;
    flex-direction: column;
    border: 5px solid #000000;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}